# Explorando dados

Neste desafio colocaremos em prática alguns conceitos apresentado nas aulas. Para isso, usaremos o conjunto de dados [Candidatos - 2022](https://dadosabertos.tse.jus.br/dataset/candidatos-2022) disponível no Portal de Dados Abertos do Tribunal Superior Eleitoral.

Os dados também podem ser encontrados na pasta "Dados" deste repositório.

Siga as orientações abaixo para completar o desafio:

# Importe os pacotes necessários

In [9]:
import pandas as pd
import glob as gb

# Crie uma lista com o título dos arquivos usando a biblioteca Glob

In [10]:
files = gb.glob('./consulta*.csv')
files

['./consulta_cand_2022_PA.csv', './consulta_cand_2022_AP.csv']

# Crie um laço (loop) para ler todos os arquivos da lista (usando a biblioteca Pandas) e armazenar os dataframes em uma lista

In [11]:
list_df = []
for file in files:
  df = pd.read_csv(file, sep=";", encoding="latin_1", na_values=["#NULO", -1, "#NE", -3])
  list_df.append(df)

# Concatene todos os dataframes da lista

In [12]:
applications = pd.concat(list_df, axis=0, ignore_index=True)
applications.shape

(1600, 71)

# Apresente 5 linhas aleatórias do dataframe

In [13]:
applications.sample(5)

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,...,NR_PROCESSO,CD_SITUACAO_CANDIDATO_PLEITO,DS_SITUACAO_CANDIDATO_PLEITO,CD_SITUACAO_CANDIDATO_URNA,DS_SITUACAO_CANDIDATO_URNA,ST_CANDIDATO_INSERIDO_URNA,NM_TIPO_DESTINACAO_VOTOS,CD_SITUACAO_CANDIDATO_TOT,DS_SITUACAO_CANDIDATO_TOT,ST_PREST_CONTAS
161,13/05/2023,19:32:48,2022,2,ELEIÇÃO ORDINÁRIA,1,546,Eleições Gerais Estaduais 2022,02/10/2022,ESTADUAL,...,6007031420226140000,2.0,DEFERIDO,2.0,DEFERIDO,SIM,Válido,2.0,Deferido,S
1301,13/05/2023,19:32:48,2022,2,ELEIÇÃO ORDINÁRIA,1,546,Eleições Gerais Estaduais 2022,02/10/2022,ESTADUAL,...,6003541720226030000,2.0,DEFERIDO,2.0,DEFERIDO,SIM,Válido,2.0,Deferido,S
1140,13/05/2023,19:32:48,2022,2,ELEIÇÃO ORDINÁRIA,1,546,Eleições Gerais Estaduais 2022,02/10/2022,ESTADUAL,...,6004616120226030000,2.0,DEFERIDO,2.0,DEFERIDO,SIM,Válido,2.0,Deferido,S
264,13/05/2023,19:32:48,2022,2,ELEIÇÃO ORDINÁRIA,1,546,Eleições Gerais Estaduais 2022,02/10/2022,ESTADUAL,...,6011518420226140000,NaN,#NULO#,NaN,#NULO#,NÃO,#NULO#,NaN,#NULO#,N
211,13/05/2023,19:32:48,2022,2,ELEIÇÃO ORDINÁRIA,1,546,Eleições Gerais Estaduais 2022,02/10/2022,ESTADUAL,...,6005342720226140000,2.0,DEFERIDO,2.0,DEFERIDO,SIM,Válido,2.0,Deferido,S

# Quantas candidaturas estão em situação de reeleição?

In [16]:
#applications.columns
applications['ST_REELEICAO'].unique()

array(['N', 'S', 'Não divulgável'], dtype=object)

In [19]:
applications['ST_REELEICAO'].value_counts()

N                 0.948750
S                 0.050625
Não divulgável    0.000625
Name: ST_REELEICAO, dtype: float64

# Liste todas a ocupações declaradas pelas candidaturas

In [18]:
applications['DS_CARGO'].unique()

array(['DEPUTADO ESTADUAL', 'VICE-GOVERNADOR', 'DEPUTADO FEDERAL',
       '2º SUPLENTE', '1º SUPLENTE', 'GOVERNADOR', 'SENADOR'],
      dtype=object)

In [21]:
applications_dep_federal = applications[applications['DS_CARGO'] == 'DEPUTADO FEDERAL'].copy()

In [23]:
applications_dep_federal['DS_CARGO'].unique()

array(['DEPUTADO FEDERAL'], dtype=object)

In [24]:
applications_dep_federal['DS_OCUPACAO'].unique()

array(['ADVOGADO', 'ADMINISTRADOR', 'JORNALISTA E REDATOR',
       'SENADOR, DEPUTADO E VEREADOR', 'DEPUTADO', 'OUTROS',
       'OCUPANTE DE CARGO EM COMISSÃO', 'POLICIAL MILITAR',
       'VENDEDOR DE COMÉRCIO VAREJISTA E ATACADISTA', 'AGRICULTOR',
       'APOSENTADO (EXCETO SERVIDOR PÚBLICO)', 'EMPRESÁRIO',
       'PROFESSOR DE ENSINO MÉDIO',
       'TÉCNICO DE ENFERMAGEM E ASSEMELHADOS (EXCETO ENFERMEIRO)',
       'PECUARISTA', 'MÉDICO', 'NUTRICIONISTA E ASSEMELHADOS', 'VEREADOR',
       'VETERINÁRIO', 'DIRETOR DE EMPRESAS', 'ENGENHEIRO', 'DONA DE CASA',
       'CORRETOR DE IMÓVEIS, SEGUROS, TÍTULOS E VALORES',
       'SERVIDOR PÚBLICO FEDERAL', 'ECONOMISTA',
       'VENDEDOR PRACISTA, REPRESENTANTE, CAIXEIRO-VIAJANTE E ASSEMELHADOS',
       'SACERDOTE OU MEMBRO DE ORDEM OU SEITA RELIGIOSA', 'ENFERMEIRO',
       'COMERCIANTE',
       'PORTEIRO DE EDIFÍCIO, ASCENSORISTA, GARAGISTA E ZELADOR',
       'PROFESSOR DE ENSINO FUNDAMENTAL', 'CONTADOR', 'MOTOBOY',
       'SERVIDOR PÚBLICO CIVIL APOSENTADO',
       'PRODUTOR DE ESPETÁCULOS PÚBLICOS', 'BIÓLOGO',
       'PROFESSOR DE ENSINO SUPERIOR', 'MILITAR REFORMADO',
       'TÉCNICO EM INFORMÁTICA', 'POLICIAL CIVIL', 'FONOAUDIÓLOGO',
       'PEDAGOGO', 'BANCÁRIO E ECONOMIÁRIO', 'SERVIDOR PÚBLICO MUNICIPAL',
       'MEMBRO DAS FORÇAS ARMADAS',
       'LOCUTOR E COMENTARISTA DE RÁDIO E TELEVISÃO E RADIALISTA',
       'ASSISTENTE SOCIAL', 'ODONTÓLOGO', 'AGENTE ADMINISTRATIVO',
       'SERVIDOR PÚBLICO ESTADUAL', 'SOCIÓLOGO',
       'ESTUDANTE, BOLSISTA, ESTAGIÁRIO E ASSEMELHADOS',
       'BOMBEIRO MILITAR', 'ZOOTECNISTA',
       'ATLETA PROFISSIONAL E TÉCNICO EM DESPORTOS',
       'PROFESSOR E INSTRUTOR DE FORMAÇÃO PROFISSIONAL',
       'SECRETÁRIO E DATILÓGRAFO',
       'AUXILIAR DE ESCRITÓRIO E ASSEMELHADOS', 'MOTORISTA PARTICULAR',
       'GARIMPEIRO', 'ESTETICISTA', 'VIGILANTE',
       'CARPINTEIRO, MARCENEIRO E ASSEMELHADOS',
       'SUPERVISOR, INSPETOR E AGENTE DE COMPRAS E VENDAS', 'COMERCIÁRIO',
       'ANALISTA DE SISTEMAS',
       'TÉCNICO DE OBRAS CIVIS, ESTRADAS, SANEAMENTO E ASSEMELHADOS',
       'CANTOR E COMPOSITOR', 'FISIOTERAPEUTA E TERAPEUTA OCUPACIONAL',
       'PESCADOR', 'RECEPCIONISTA', 'ARQUITETO', 'MASSAGISTA'],
      dtype=object)

# Quantos anos tem a pessoa candidata mais velha?

In [25]:
applications['NR_IDADE_DATA_POSSE'].max()

81.0

# Quantos anos tem a pessoa candidata mais jovem?

In [26]:
applications['NR_IDADE_DATA_POSSE'].min()

19.0

# Qual é o nome da pessoa candidata mais velha?

In [29]:
applications[applications['NR_IDADE_DATA_POSSE'] == applications['NR_IDADE_DATA_POSSE'].max()].copy()['NM_CANDIDATO']

49    MARIA DE LOURDES PEREIRA DE FARIAS
Name: NM_CANDIDATO, dtype: object

# Quantas candidaturas existem para "Deputado federal" seu estado?

In [31]:
applications_dep_federal.shape[0]

477

# Qual é a média do valor máximo de despesas de campanha?

In [32]:
applications.describe()

,ANO_ELEICAO,CD_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,CD_CARGO,SQ_CANDIDATO,NR_CANDIDATO,NR_CPF_CANDIDATO,CD_SITUACAO_CANDIDATURA,CD_DETALHE_SITUACAO_CAND,...,CD_ESTADO_CIVIL,CD_COR_RACA,CD_OCUPACAO,VR_DESPESA_MAX_CAMPANHA,CD_SIT_TOT_TURNO,NR_PROTOCOLO_CANDIDATURA,NR_PROCESSO,CD_SITUACAO_CANDIDATO_PLEITO,CD_SITUACAO_CANDIDATO_URNA,CD_SITUACAO_CANDIDATO_TOT
count,1600.0,1600.0,1600.0,1600.0,1600.000000,1.600000e+03,1600.000000,1.600000e+03,1600.000000,1600.000000,...,1600.000000,1600.000000,1600.000000,1.529000e+03,1476.000000,0.0,1.600000e+03,1476.000000,1476.000000,1476.000000
mean,2022.0,2.0,1.0,546.0,6.693125,1.017079e+11,21303.939375,4.481721e+10,10.925625,3.086875,...,2.855625,2.263125,407.177500,1.968852e+06,4.386179,NaN,6.006838e+18,2.213415,2.313686,2.213415
std,0.0,0.0,0.0,0.0,0.849649,5.241774e+10,22336.413543,2.808682e+10,2.918976,3.238963,...,2.318003,0.916878,319.976337,1.178961e+06,0.771474,NaN,3.288632e+15,1.341331,1.860156,1.341331
min,2022.0,2.0,1.0,546.0,3.000000,3.000160e+10,15.000000,-4.000000e+00,3.000000,2.000000,...,-4.000000,-4.000000,-4.000000,-4.000000e+00,1.000000,NaN,6.001610e+18,2.000000,2.000000,2.000000
25%,2022.0,2.0,1.0,546.0,6.000000,3.000164e+10,3639.250000,2.102160e+10,12.000000,2.000000,...,1.000000,1.000000,171.750000,1.270629e+06,4.000000,NaN,6.004122e+18,2.000000,2.000000,2.000000
50%,2022.0,2.0,1.0,546.0,7.000000,1.400016e+11,14110.500000,4.322567e+10,12.000000,2.000000,...,3.000000,3.000000,265.000000,1.270629e+06,5.000000,NaN,6.006361e+18,2.000000,2.000000,2.000000
75%,2022.0,2.0,1.0,546.0,7.000000,1.400017e+11,28777.250000,6.771131e+10,12.000000,2.000000,...,3.000000,3.000000,581.000000,3.176573e+06,5.000000,NaN,6.009286e+18,2.000000,2.000000,2.000000
max,2022.0,2.0,1.0,546.0,10.000000,1.400017e+11,90999.000000,9.983241e+10,12.000000,14.000000,...,9.000000,5.000000,999.000000,1.156272e+07,5.000000,NaN,6.023764e+18,17.000000,17.000000,17.000000

In [33]:
mean = applications['VR_DESPESA_MAX_CAMPANHA'].mean()
mean = round(mean, 2)